.header                       { position:relative; padding:20px 0;
  .logo                       { cursor:pointer; width:200px;
    &:after                   { content:" alpha "; position:absolute; font-family:$lato; font-style:italic; color:#69A1BE; font-size:13px; top:31px; left:185px; }
    &:hover                   {
      svg                     {
        *                     { @include transition-duration(0); }
        &:hover               {
          .st155              { fill:lighten(#3B5669,9%); }
          .st93               { fill:lighten(#2A3D4A,9%); }
          .st53               { fill:lighten(#567D99,9%); }
          .st178              { fill:lighten(#446378,9%); }
        }
      }
    }
  }
}

.nav                    { position:absolute; top:27px; right:0;
  a                     { color: #51768F; font-family:$lato; text-decoration:none; font-size:13px; padding:5px 10px; cursor:pointer;
    &:not(:first-child) { border-left: solid 1px #2a363e; }
    &:hover             { color:white; }
  }
}
