.header                       { position:relative; padding:20px 0;
  .logo                       { cursor:pointer; width:200px; margin-top:-4px;
    &:after                   { content:" alpha "; position:absolute; font-family:$lato; font-style:italic; color:#69A1BE; font-size:13px; top:31px; left:185px; }
    &:hover                   {
      svg                     {
        *                     { @include transition-duration(0); }
        &:hover               {
          .right *            { fill:lighten(#3B5669,9%); }
          .left *             { fill:lighten(#2A3D4A,9%); }
          .top *              { fill:lighten(#567D99,14%); }
          .logotype *         { fill:lighten(#567D99,9%); }
        }
      }
    }
  }
  // smaller than 370px
  @media screen and (max-width: 470px) {
    .logo                   { width:0px;
      &:after               { content:""; }
      a                     { width:30px; }
      svg                   { width:30px; }
      .logotype             { display:none; }
    }
  }
}

.nav                    { position:absolute; top:27px; right:0;
  a                     { color: #51768F; font-family:$lato; text-decoration:none; font-size:13px; padding:5px 10px; cursor:pointer;
    &.active            { color:white;
      &:hover           { color:white; }
    }
    &:not(:first-child) { border-left: solid 1px #2a363e; }
    &:hover             { color:#b4cddf; }
  }
}
