extends templates/base

block js
  script(type="text/javascript").
    $( document ).ready(function() {
      downloads = new nbx.Downloads($mainwrapper);
    });

block content
  .downloads
    .row.downloader
      .icon
        img.shadow-icon(data-src="win")
      .info
        .title Mac OSX Intel - 1.4. GB
        .option
          .checkbox.checked
            img.shadow-icon(data-src="checkbox")
          .copy Include &amp; Install Vagrant + Virtual Box * 
        .install 
          | Download Installer
          img.shadow-icon(data-src="download-big")
    .download-mini-btns
      .btn(data="mac")
        img.shadow-icon(data-src="mac" scalable='true')
      .btn(data="lnx")
        img.shadow-icon(data-src="lnx" scalable='true')
      .btn(data="win")
        img.shadow-icon(data-src="win" scalable='true')
        
    h3 What's in the installer
    .row.break
      .breakdown
        img.shadow-icon(data-src="download-breakdown")
      .descriptions
        .description.ubunto-image
          h4 Boot2docker Vagrant Image <span></span>
          p Nanobox installs your app and runtimes (ruby, node, mysql, etc) on a virtual machine running this slim version of Linux. 
        .description.nanobox
          h4 Nanobox <span></span>
          p Orchestration layer that configures and runs your app
        .description.vagrant
          h4 Vagrant <span></span>
          p Creates / manages the Virtual Machine
        .description.virtual-box
          h4 Virtual Box <span></span>
          p Does the actual virtualization
    h3 &nbsp;
    .row.asterix * Uncheck this box if you already have Vagrant & Virtual box installed, or if you would like to download and install them yourself
