extends templates/base

block js

block content
  .home
    .main-summary
      img.shadow-icon(data-src="top-mini-stack")
      .info
        h1 Vagrant + Docker + Engines
        h4 Local App Environments -  Automated / Lightweight / Reusable 
        .links 
          a.github(href="https://github.com/pagodabox?utf8=%E2%9C%93&query=nanobox")
            img.shadow-icon(data-src="git" )
            p Fork me on github
            
          a.download(href="/downloads")
            img.shadow-icon(data-src="download-home" )
            p Download
        
          a.irc(href="//webchat.freenode.net/?channels=nanobox", target="_BLANK")
            img.shadow-icon(data-src="irc" )
            p IRC - #nanobox <span>(freenode)</span>
    
    .overview
      .info
        .blurb.src-code
          h2 <span>1 </span>App Source Code
          p Focus on coding rather than configuring a local dev environment 
        .blurb.engine
          h2 <span>2 </span>Language Engine
          p The Engine detects your app type and specifies what services your app needs (ruby, mongo, etc) and how they should be configured.
        .blurb.docker
          h2 <span>3 </span>Docker Containers 
          p Containers are configured and initialized. Your code is then built and installed. 
        .blurb.vagrant
          h2 <span>4 </span>Vagrant / Virtual Box
          p Your services run in an ultra lightweight linux virtual machine (30mb RAM).  Requests to localhost are proxied to your app
      .graphic
        img.shadow-icon(data-src="sandwich" scalable="true")
    
    .mini-overview
      .mini
        h2 Develop your App
        p Run your code and itterate your app in a fast lightweight VM 
        .script
          pre
            code.language-nanobox
              | $ nanobox up
              | Detecting app type
              | Launching Vagrant Virtual Machine
              | Installing runtimes in VM
              | etc..
        //- a(href="#developing-your-app") How it works
      
      .mini
        h2 Run Commands
        p Run generators, tests and other runtime specific scripts. 
        .script
          pre
            code.language-nanobox
              | $ nanobox console
              |   Entering virtual machine context:
              | > rake test # Run test suite
        //- a(href="#developing-your-app") How it works
    .links
      a.jump(href="/how-nanobox-works") How it Works
