.modal-overlay
  .close-video-modal
    img.shadow-icon(data-src="close-btn" )
  iframe(width="840" height="473" src="https://www.youtube.com/embed/TV4iBxytfyE?autoplay=1" frameborder="0" allowfullscreen)