.header
  .logo
    a(data="home")
      img.shadow-icon(data-src="logo-horizontal")
.nav
  a(data="downloads") Download
  a.open-community Community
  a(data="engines") Engines
  a.sign-up(href="//dashboard.nanobox.io/users/sign_in") Login / Register
