.header
  .logo
    a(href="/")
      img.shadow-icon(data-src="logo-horizontal")
.nav
  a(href="/downloads.html") Download
  a.open-community Community
  a(href="/engines.html") Engines
  a.sign-up(href="//dashboard.nanobox.io/users/sign_in") Login / Register
