.languages-and-frameworks
  .section-header
    .science-and-search
      img.shadow-icon(data-src="mad-scientist" scalable="true")
      .search
        input( placeholder="Search Existing Engines" )
        .search-btn
          img.shadow-icon(data-src="search")
    .title
      .text IT’S YOUR FRAMEWORK, YOU DEFINE THE IDEAL RUNTIME
      a(href="//webchat.freenode.net/?channels=nanobox").irc-blurb
        img.shadow-icon(data-src="irc-outline")
        .txt Join our IRC channel, for <br/> help - #nanobox on freenode
    
  .row.plugin-overview
    .descript
      h2 Writing a Custom Engine
      p Five BASH scripts specify the services your framework needs and how they should be configured so devs can begin building their app immediately with no need to install or configure anything.
    .graphic
      img.shadow-icon(data-src="plugin-scripts" scalable="true")
  .scripts
    .script
      h3.required sniff
      .row
        p.descript This script crawls the user’s code looking for patterns unique to your framework. If a positive match is found, this script should returns true. 
        .script
          pre
            code.language-javascript
              | #!/bin/sh
              | if ( match_file( "/mage.php" )) {
              |   print true;
              | } else {
              |   print false;
              | }
    .script
      h3 boxfile
      .row
        p.descript Set any boxfile settings your framework needs such as instantiating webs, databases, and caching services. 
        .script
          pre
            code.language-yaml
              | nanobox:
              |   domain: localhost
              |   port: 4321
              |   
              | web1:
              |   name: site
              |   type: ruby
              |   
              | database1:
              |   name: customers
              |   type: postgresql
    .script
      h3 prepare
      .row
        p.descript Set any boxfile settings your framework needs such as instantiating webs, databases, and caching services. 
        .script
          pre
            code.language-yaml
              | web1:
              |   name: site
              |   type: ruby
              |   
              | database1:
              |   name: customers
              |   type: postgresql
    .script
      h3.required build
      .row
        p.descript Set any boxfile settings your framework needs such as instantiating webs, databases, and caching services. 
        .script
          pre
            code.language-yaml
              | web1:
              |   name: site
              |   type: ruby
              |   
              | database1:
              |   name: customers
              |   type: postgresql
    .script
      h3 cleanup
      .row
        p.descript Set any boxfile settings your framework needs such as instantiating webs, databases, and caching services. 
        .script
          pre
            code.language-yaml
              | web1:
              |   name: site
              |   type: ruby
              |   
              | database1:
              |   name: customers
              |   type: postgresql
