head
  title Nanobox
  meta( name= "viewport", content= "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" )


  // build:css style.css
  link(href="stage/css/stage.css", rel="stylesheet")
  link(href="css/main.css", rel="stylesheet")
  link(href='bower-libs/nanobox-svg-library/rel/nanobox.css' rel='stylesheet' type='text/css')
  // endbuild
  link(href='http://fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css')
  link(rel="icon" type="image/png" href="/assets/favicon.png")
