doctype html
html(lang="en")
  
  include ./_head.jade
  
  body
    .main-wrapper
      include ./_top.jade
      
      .downloads
        .left
          h1 Nanobox + Vagrant + Virtual Box
          .descript All in one installer, everything you need in one conenient shot
          .download-btns
            .btn(bit="64", kind="full")
              .icon
                img.shadow-icon(data-src="mac" scalable="true")
              .details
                .title Mac OSX Intel
                .sub 64 bit
              .down-arrow 
                img.shadow-icon(data-src="download")
                | 845 MB
            .btn(bit="32", kind="full")
              .icon
                img.shadow-icon(data-src="mac", scalable="true")
              .details
                .title Mac OSX Intel
                .sub 32 bit
              .down-arrow 
                img.shadow-icon(data-src="download")
                | 845 MB
        .right
          h1 Nanobox Only
          .descript Download this if you already have Vagrant &amp; Virtualbox installed
          .download-btns
            .btn(bit="64", kind="nano")
              .icon
                img.shadow-icon(data-src="lnx", scalable="true")
              .details
                .title Mac OSX Intel
                .sub 64 bit
              .down-arrow 
                img.shadow-icon(data-src="download")
                | 24 MB
            .btn(bit="32", kind="nano")
              .icon
                img.shadow-icon(data-src="win", scalable="true")
              .details
                .title Mac OSX Intel
                .sub 32 bit
              .down-arrow 
                img.shadow-icon(data-src="download")
                | 24 MB
      .os-sections
        .apple
          h1 Mac
          ul
            //- Links added via Javascript
        
        .linux
          h1 Linux
          ul
            //- Links added via Javascript
            
        .windows
          h1 Windows
          ul
            //- Links added via Javascript
            
              
    // build:js js/shared-libs.js
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/nanobox-svg-library/rel/nanobox.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/shadow-icons-library/rel/app.js")
    script(src="js/jade-templates.js")
    // endbuild
    
    script try{Typekit.load();}catch(e){}
    
    // build:js3 js/downloads.js
    script(src="js/jade-templates.js")
    script(src="stage/js/downloads.js")
    // endbuild
              
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
          
