doctype html
html(lang="en")
  
  include ./_head.jade

  body
    .main-wrapper
      .content-area
      
    // build:js1 js/libs.js
    //- SVG library
    script(src="bower-libs/prism/prism.js")
    script(src="bower-libs/prism-langs/prism-yaml.js")
    script(src="js/prism-nanobox.js")
    script(src="bower-libs/pubsub-js/src/pubsub.js")
    script(src="js/nanobox.js") 
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/shadow-icons-library/rel/app.js")
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="js/jade-templates.js")
    script(src="bower-libs/history.js/scripts/uncompressed/history.js")
    script(src="bower-libs/history.js/scripts/uncompressed/history.adapter.jquery.js")    // endbuild
    script(src="bower-libs/velocity/velocity.js")
    // endbuild
    
    script try{Typekit.load();}catch(e){}

    // build:js2 js/app.js
    script(src="js/app.js")
    script(src="stage/js/init.js")
    // endbuild
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
