doctype html
html(lang="en")
  
  include ./_head.jade

  body
    .main-wrapper
      include ./_top.jade
      
    // build:js js/libs.js
    script(src="bower-libs/prism/prism.js")
    script(src="bower-libs/prism-langs/prism-yaml.js")
    // endbuild
    
    // build:js2 js/shared-libs.js
    script(src="bower-libs/nanobox-svg-library/rel/nanobox.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/shadow-icons-library/rel/app.js")
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="js/jade-templates.js")
    // endbuild
    
    script try{Typekit.load();}catch(e){}

    // build:js3 js/app.js
    script(src="js/app.js")
    script(src="stage/js/init.js")
    // endbuild
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
